<div class="title">

  <div class='navbar-top'>
    <p>
      <a href="bortonh10@gmail.com">Email</a> |
      <a href="google.com">Etsy</a> |
      <a href="instagram.com">Instagram</a>
    </p>
  </div>

  <h1>Maxwell Prints</h1>

  <div class='navbar-bottom'>
    <p><a href="/index">Portfolio</a> |
      <a href="/"></a>
    </p>

  </div>
  
</div>
